.flickuty-test, .flickity-viewport{
    height : 100% !important;
}


.flickity-enabled{
    height : 100% !important;
    width: 100% !important;
}


.flickity-slider > div {
    padding: 2vh !important;
}

.flickity-slider .is-selected {
    padding: 0 !important; 
}